/*

	Janice Ng
	CSS: Mobile Query

	Tablet: 1.Base 2.Grid 3.Layout 4.IndexPage 5.AboutPage 6.WorksPage
	Mobile: 1.Base 2.Grid 3.Layout 4.IndexPage 5.AboutPage 6.WorksPage

*/



/* ================================================================ 
	[TABLET MEDIA QUERY START]   
================================================================  */

@media only screen and (min-width: 641px) and (max-width: 1000px) {

/* ================================================================ 
	BASE START 
================================================================  */

html, body {
	background-size: 100%;
/*	background-color: orange;*/
}

	/* ========== FONT ========== */	

	h2 {
		font-size: 1.5em;
		color: #5ECBF4;
	}

/* ================================================================ 
	BASE END 
================================================================  */



/* ================================================================ 
	GRID START
================================================================  */

/* ========== COLUMNS ========== */

/* ---------- INDEX PAGE ---------- */

#home .column1_tablet, #home .column2_tablet, #home .column3_tablet {
	display: inline-block;
	text-align: center;
	width: 32.5%;
}

	/* DESKOP DISPLAY NONE */
	#home .column1, #home .column2, #home .column3 {
		display: none;
	}

/* ---------- ABOUT PAGE ---------- */

#about .column1, #about .column2, #about .column3, #about .column4 {
	padding: 0 .5em;
}

/* ========== ROWS ========== */

.row1, .row2, .row3 {
	clear: both;
}

/* ================================================================ 
	GRID END
================================================================  */



/* ================================================================ 
	LAYOUT START
================================================================  */

/* ========== FOOTER ========== */

footer p {
	font-size: 1.3em;
}

	.footerwrapper ul {
		margin-top: -3.5em;
	}

/* ========== CONTENT ========== */

.content {
	padding: .2em;
}

.title {
	overflow: hidden;
}

.text {
	float: left;
	padding: .3em;
	margin-right: 1em;
}

/* ========== WRAPPER ========== */

.wrapper {
	padding-top: 1.8em;
}

/* ================================================================ 
	LAYOUT END
================================================================  */



/* ================================================================ 
	INDEX PAGE START 
================================================================  */

/* ========== IMAGES ========== */

#home .images {
	width: 100%;
}

/* ================================================================ 
	INDEX PAGE END 
================================================================  */



/* ================================================================ 
	ABOUT PAGE START 
================================================================  */

/* ========== CONTENT ========== */

.aboutdescription {
	width: 100%;
}

	.aboutdescription p {
		font-size: 1.3em;
	}

/* ================================================================ 
	ABOUT PAGE END 
================================================================  */




/* ================================================================ 
	WORKS PAGE START 
================================================================  */

/* ========== CONTENT ========== */

.descriptionleft {
	width: 15%;
}

.descriptionright {
	width: 74%;
	padding-left: 5em;
}

/* ================================================================ 
	WORKS PAGE END 
================================================================  */



}
/* ================================================================ 
	[TABLET MEDIA QUERY END] 
================================================================  */





/* ================================================================ 
	[MOBILE MEDIA QUERY START] 
================================================================  */

@media only screen and (max-width: 640px) {

/* ================================================================ 
	BASE START 
================================================================  */

html, body {
	background-size: 100%;
/*	background-color: yellow;*/
}

.container {
	padding: 1em;
}

/* ================================================================ 
	BASE END
================================================================  */



/* ================================================================ 
	GRID START
================================================================  */

/* ========== COLUMNS ========== */

/* ---------- INDEX PAGE ---------- */

#home .column1_mobile, #home .column2_mobile, #home .column3_mobile {
	display: block;
	text-align: center;
	clear: both;
}

	/* DESKTOP DISPLAY NONE */
	#home .column1, #home .column2, #home .column3 {
		display: none;
	}

/* ---------- ABOUT PAGE ---------- */

#about .column1_mobile, #about .column2_mobile, #about .column3_mobile, #about .column4_mobile {
	display: block;
}

	/* DESKTOP DISPLAY NONE */
	#about .column1, #about .column2, #about .column3, #about .column4 {
		display: none;
	}

/* ========== ROWS ========== */

.row1, .row2, .row3 {
	clear: both;
}

/* ================================================================ 
	GRID END
================================================================  */



/* ================================================================ 
	LAYOUT START
================================================================  */

/* ========== HEADER ========== */

.logo img {
	max-width: 90%;
	width: 210px;
	height: auto;

/*	border: 1px solid black;*/
}

/* ========== NAVBAR ========== */

nav ul {
	width: 35%;
	padding: .5em;
	margin-top: -11.5em;

/*	border: 1px solid black;*/
}

nav ul li {
	display: block;
	font-size: 2em;
	padding-left: .5em;
	margin-bottom: .2em;
}

/* ========== FOOTER ========== */

	footer p {
		/*width: 40%;*/
		font-size: 1.3em;
	}

	.footerwrapper ul {
		margin-top: -3.7em;
	}

/* ========== WRAPPER ========== */

.wrapper {
	padding-top: 1.8em;
}

/* ========== CONTENT ========== */

.content {
	padding: .2em;
}

.title {
	padding: 0;
}

.text {
	float: left;
	padding: .3em;
}

/* ================================================================ 
	LAYOUT END
================================================================  */



/* ================================================================ 
	INDEX PAGE START 
================================================================  */

/* ========== IMAGES ========== */

#home .images {
	width: 100%;
}

/* ================================================================ 
	INDEX PAGE END 
================================================================  */



/* ================================================================ 
	ABOUT PAGE START 
================================================================  */

/* ========== CONTENT ========== */

.aboutdescription {
	width: 100%;
}

	.contact ul li{
		padding-right: 1em;
	}

/* ========== IMAGES ========== */

#about .images {
	width: 100%;
	text-align: center;
	float: right;
	margin-top: 0;
}

	#about .images img {
		max-width: 100%;
		width: 220px;
		height: auto;
		margin: 1em 0;
	}

/* ================================================================ 
	ABOUT PAGE END 
================================================================  */



/* ================================================================ 
	WORKS PAGE START 
================================================================  */

/* ========== CONTENT ========== */

.download img {
	max-width: 100%;
	width: 220px;
	height: auto;
}

.descriptionleft {
	width: 100%;
	padding: 1.5em 0;
}

.descriptionright {
	width: 100%;
	float: left;
	padding: 0;
}

/* ================================================================ 
	WORKS PAGE END 
================================================================  */



}
/* ================================================================ 
	[MOBILE MEDIA QUERY END]
================================================================  */