/*

	Janice Ng's Portfolio
	CSS file: Main Style

	1.Base  2.Grid  3.Layout  4.Links  5.IndexPage  6.AboutPage  7.WorksPage

*/

/* ================================================================ 
	BASE START 
================================================================  */

html, body {
	font-family: 'Istok Web', Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #FCFCFC;
}

html, body, ul, ol, li, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, p {
	border: 0;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

	/* ========== FONT ========== */

	/* Title */
	h1 {
		font-size: 2.3em;
		color: #5ECBF4;
		font-weight: 500;
	}

	/* Tag line */
	h2 {
		font-size: 1.6em;
		color: #5ECBF4;
		font-weight: 700;
		padding-bottom: 1em;
	}

	/* Header 1 */
	h3 {
		font-size: 1.5em;
		color: #000000;
		font-weight: 700;
	}

	/* Header 2 */
	h4 {
		font-size: 1.3em;
		color: #000000;
		font-weight: 700;
		padding-top: 1.3em;
	}

	/* Header 3 */
	h5 {
		font-size: 1.2em;
		color: #000000;
		font-weight: 700;
	}

	/* Sub Headers */
	h6 {
		font-size: 1.1em;
		color: #C7C7C7;
		padding: .3em 0 1.5em 0;
	}

	/* Text */
	p {
		font-size: 1.2em;
	}

/* ================================================================ 
	BASE END 
================================================================  */



/* ================================================================ 
	GRID START
================================================================  */

/* ========== CONTAINER ========== */

.container {
	margin: 0em auto;
	padding: 1.5em;
	max-width: 1000px;

/*	border: 1px solid orange;*/
}

/* ========== COLUMNS ========== */

/* ---------- INDEX PAGE ---------- */

#home .column1, #home .column2, #home .column3 {
	text-align: center;
	float: left;
	padding-left: 5.8em;
}

/* ---------- ABOUT PAGE ---------- */

#about .column1, #about .column2, #about .column3, #about .column4 {
	width: 22.5%;
	float: left;
	padding: 0 1em;
}

/* ---------- WORKS PAGE: IMAGES ---------- */

#sis .column1,
#swish .column1,
#airlog .column1,
#pouch .column1,
#invisiblechildren .column1,
#ysclogo .column1,
#pavilionofliterature .column1,
#emocube .column1,
#rayz .column1 {
	float: left;
	padding-right: 6.8em;
}

	#pouch .column2,
	#invisiblechildren .column2,
	#ysclogo .column2,
	#pavilionofliterature .column2 {
		max-width: 90%;
		width: 750px;
		height: auto;
		float: left;
	}

/* ---------- WORKS PAGE: VIDEOS ---------- */

#sis .column2,
#swish .column2,
#airlog .column2,
#emocube .column2,
#rayz .column2 {
	max-width: 90%;
	width: 750px;
	height: auto;
	float: left;
}

/* ========== ROWS ========== */

.row1, .row2, .row3 {
	overflow: hidden;
	max-width: 100%;
	clear: both;
}

/* ================================================================ 
	GRID END
================================================================  */



/* ================================================================ 
	LAYOUT START
================================================================  */

/* ========== HEADER ========== */

header {
	width: 100%;
	margin-bottom: 4em;
	overflow: hidden;
}

	.logo {
		width: 75%;
		float: left;
		padding-top: 2em;
	}

/* ========== NAVBAR ========== */

nav {
	width: 100%;
	text-align: right;
}

	nav ul {
		width: 70%;
		float: right;
		margin-top: -6.6em;
	}

	nav ul li {
		display: inline;
		font-size: 1.7em;
		font-weight: bold;
		padding: 0 0 0 1.2em;
		margin-left: .8em;
	}

/* ========== FOOTER ========== */

.footerwrapper {
	text-align: left;
	padding-top: 1.3em;
	margin-top: 2.5em;
	border-top: 1px dotted #C7C7C7;
}

	footer p {
		font-size: 1.2em;
		padding-bottom: 1em;
	}

	.footerwrapper ul {
		float: right;
		overflow: hidden;
		margin-top: -3.5em;
	}

	.footerwrapper ul li {
		float: left;
		display: inline;
		padding-left: 1.5em;
	}

/* ========== WRAPPER ========== */

.wrapper {
	padding-top: 1.6em;
	border-bottom: 1px dotted #C7C7C7;
	overflow: hidden;
}

/* ========== IMAGES ========== */

	.icons {
		padding-top: .5em;
	}

/* ========== CONTENT ========== */

.content {
	clear: both;
	overflow: hidden;
	padding: .5em;
}

.title {
	width: 100%;
	overflow: hidden;
	padding-bottom: 2em;
}

.text {
	float: left;
	padding-right: 1.5em;
	margin-bottom: 1.5em;
}

/* ================================================================ 
	LAYOUT END
================================================================  */



/* ================================================================ 
	LINKS START 
================================================================  */

/* ========== LINKS ========== */

a {
	color: #C7C7C7;
	text-decoration: none;

	/* ========== FADE TRANSITION ========== */
	-webkit-transition:color .3s ease-out, background .5s ease-in;
	-moz-transition:color 	.3s ease-out, background .5s ease-in;
	-o-transition:color 	.3s ease-out, background .5s ease-in;
  	-ms-transition:color 	.3s ease-out, background .5s ease-in;
  		transition:color 	.3s ease-out, background .5s ease-in;
}

	a:hover {
		color: #5ECBF4;
		border-bottom: 1px dotted #5ECBF4;
	}

	.onpage {
		color: #5ECBF4;
		border-bottom: 1px dotted #5ECBF4;
	}

/* ========== GRAYSCALE IMAGES ========== */

/* Images starts grey */
a.grey {
	border: none;

	-webkit-filter: grayscale(100%);
	-moz-filter: 	grayscale(100%);
	-o-filter: 		grayscale(100%);
	-ms-filter: 	grayscale(100%);
		filter: 	url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
		filter: 	gray;

	-webkit-transition: all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	-o-transition: 		all 0.3s ease;
	-ms-transition: 	all 0.3s ease;
		transition: 	all 0.3s ease;
	}

	a.grey:hover {
		-webkit-filter: grayscale(0%);
		-moz-filter: 	grayscale(0%);
		-o-filter: 		grayscale(0%);
		-ms-filter:		grayscale(0%);
			filter: 	none;
	}

/* ================================================================ 
	LINKS END 
================================================================  */



/* ================================================================ 
	INDEX PAGE START 
================================================================  */

/* ========== IMAGES ========== */

#home .images {
	float: right;
	margin-top: 1.2em;
}

/* ================================================================ 
	INDEX PAGE END 
================================================================  */



/* ================================================================ 
	ABOUT PAGE START 
================================================================  */

/* ========== CONTENT ========== */

.aboutdescription {
	width: 73.5%;
	float: right;
	text-align: left;
	margin-top: 4em;
	clear: both;
}

	.aboutdescription p {
		padding-bottom: 1em;
	}

.contact {
	width: 100%;
	float: left;
	clear: both;
	margin-top: 1.5em;
}

	.contact ul li {
		float: left;
		display: inline;
		padding-right: 3em;
	}

/* ================================================================ 
	ABOUT PAGE END 
================================================================  */



/* ================================================================ 
	WORKS PAGE START 
================================================================  */

/* ========== IMAGES ========== */

#sis .images,
#swish .images,
#airlog .images,
#pouch .images,
#invisiblechildren .images,
#ysclogo .images,
#pavilionofliterature .images,
#emocube .images,
#rayz .images {
	float: left;
	overflow: hidden;
	/*margin-top: 1.5em;*/
	padding: 0 .17em;
}

	.descriptionright img,
	#pouch .images .column2 img,
	#invisiblechildren .images .column2 img,
	#ysclogo .images .column2 img,
	#pavilionofliterature .images .column2 img {
		border: 1.9px solid #5ECBF4;
	}

	.descriptionright ul li {
		margin: 1.2em 0;
	}

/* ========== VIDEOS ========== */

/* =========================================================
 * Video Responsive CSS Styles
 * Based on code found here: http://amobil.se/2011/11/responsive-embeds/
 * ========================================================= */

.video {
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border: 1.9px solid #5ECBF4;
}

	.video iframe,
	.video object,
	.video embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border: none;
	}

/* ========== CONTENT ========== */

#sis .images h4,
#swish .images h4,
#airlog .images h4,
#pouch .images h4,
#invisiblechildren .images h4,
#ysclogo .images h4,
#pavilionofliterature .images h4,
#emocube .images h4,
#rayz .images h4 {
	padding-top: .5em;
	text-align: center;
}

/* Descriptions */

.descriptionleft {
	width: 15%;
	float: left;
	padding-top: 3.5em;
	clear: both;
}

.descriptionright {
	width: 75%;
	float: left;
	padding: 3.5em 0 0 7.2em;
}

	.descriptionright p, .descriptionleft p {
		padding-bottom: 1.5em;
	}

/* More Works */

.moreworks {
	margin: 2em 0 6em 0;
}

	.moreworks .title {
		padding-bottom: 0;
	}

	.moreworks .wrapper {
		padding-top: 1em;
	}

	.moreworks h4 {
		padding: 0;
	}

/* Arrow Nav */

.arrows {
	float: right;
	padding-top: 1em;
}

	.arrows ul {
		float: right;
		margin-top: .5em;
	}

	.arrows ul li {
		display: inline;
		padding-left: 1em;
	}

	.arrows ul img {
		border: none;
		width: 25px;
		height: auto;
	}

/* ================================================================ 
	WORKS PAGE END 
================================================================  */